{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="absolute bg-blue-600 h-full w-full">
        <div class="relative h-full w-full blur-[128px]">
            <svg class="absolute bottom-2 left-3/4"
                 width="296" height="290" viewBox="0 0 296 290" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="148" cy="145" rx="148" ry="145" fill="#26FFA4"></ellipse>
            </svg>
            <svg class="absolute bottom-1/4 right-1/4"
                 width="296" height="290" viewBox="0 0 296 290" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="148" cy="145" rx="148" ry="145" fill="#FF431A"></ellipse>
            </svg>
            <svg class="absolute bottom-2/4 left-3/4"
                 width="296" height="290" viewBox="0 0 296 290" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="148" cy="145" rx="148" ry="145" fill="#FDFF84"></ellipse>
            </svg>
        </div>
    </div>
    <div class="relative w-2/4 bg-white h-screen flex justify-end">
        <div class="w-[600px] mt-40">
            <div>
                <a href="{{ path('app_home') }}"><img src="{{ asset('assets/svg/logoWithText.svg') }}"
                                                      class="h-[56px]" alt="Logo with text"></a>
            </div>
            <div class="mt-20">
                <h2 class="text-[32px] font-[600] -tracking-[0.96px]">Connectez-vous à votre compte</h2>
                <p class="text-[16px] font-[400] -tracking-[0.48px]">Pas de compte ? <a
                            href="{{ path('app_register_user') }}" class="text-blue-600">Inscrivez-vous</a>
                    gratuitement.</p>
            </div>
            <div class="mt-9">
                <form action="{{ path('app_login') }}" method="post" class="flex-col">
                    <div>
                        <div>
                            <label for="username">Adresse e-mail</label>
                        </div>
                        <div>
                            <input name="email" type="email" id="username" placeholder="Adresse e-mail"
                                   class="w-[405px] h-[50px] border border-gray-200 rounded-lg mt-2 bg-gray-50 p-3 pl-6">
                        </div>
                    </div>
                    <div class="mt-10">
                        <div>
                            <label for="password">Mot de passe</label>
                        </div>
                        <div>
                            <input name="password" type="password" id="password" placeholder="Mot de passe"
                                   class="w-[405px] h-[50px] border border-gray-200 rounded-lg mt-2 bg-gray-50 p-3 pl-6">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button type="submit"
                            class="cursor-pointer bg-blue-600 hover:bg-blue-700 mt-10 w-[405px] px-8 py-2 text-white font-[600] rounded-full">
                        Se connecter
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
