{% extends 'base.html.twig' %}

{% block title %}Facturéo{% endblock %}

{% block body %}
    {{ component('Home:Navbar') }}
    <div class="py-24 w-2/4 mx-auto text-center pt-[170px] space-y-8 mb-64">
        <h1 class="max-w-7xl text-7xl font-[600] -tracking-[1.92px] mx-auto">Rendez simple la
            <span class="relative text-blue-600 whitespace-nowrap">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 418 42"
                     class="absolute left-0 top-2/3 h-[0.58em] w-full fill-blue-300/70"
                     preserveAspectRatio="none">
                    <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"></path>
                </svg>
                <span class="relative">facturation</span>
            </span>
            de vos clients
        </h1>
        <p class="text-[16px] font-[400] -tracking-[0.48px] w-2/4 mx-auto">Les logiciels de facturation peuvent être
            compliqué à utiliser. Nous avons conçu la solution simple et efficace.</p>
        <div class="flex w-2/3 mx-auto space-x-10 justify-center">
            <a href="#features"
               class="bg-slate-900 hover:bg-slate-700 text-white rounded-full px-6 py-2 -tracking-[0.48px] font-[600] transition-colors ease-in-out">Découvrir</a>
            <a href="/register"
               class="text-black rounded-full px-6 py-2 -tracking-[0.48px] font-[600] border border-black hover:bg-gray-100 transition-colors ease-in-out">Inscrivez-vous
                dès maintenant</a>
        </div>
    </div>
    <section id="features" class="relative w-full h-screen">
        <div class="absolute bg-blue-600 w-full h-[1024px]">
            <div class="relative h-full w-2/3 blur-[256px]">
                <svg class="absolute -bottom-8 left-2/4"
                     width="296" height="290" viewBox="0 0 296 290" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="148" cy="145" rx="148" ry="145" fill="#26FFA4"></ellipse>
                </svg>
                <svg class="absolute bottom-1/3 left-2/4"
                     width="296" height="290" viewBox="0 0 296 290" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="148" cy="145" rx="148" ry="145" fill="#FF431A"></ellipse>
                </svg>
                <svg class="absolute bottom-2/4 left-3/4"
                     width="296" height="290" viewBox="0 0 296 290" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="148" cy="145" rx="148" ry="145" fill="#FDFF84"></ellipse>
                </svg>
                <svg class="absolute -bottom-8 left-2/4"
                     width="296" height="290" viewBox="0 0 296 290" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="148" cy="145" rx="148" ry="145" fill="#26FFA4"></ellipse>
                </svg>
            </div>
        </div>
        <div class="relative w-2/3 mx-auto">
            <div class="pt-28 text-center space-y-6">
                <h1 class="text-5xl text-white font-[700] -tracking-[1.92px]">Tout ce dont vous avez besoin dans une
                    solution</h1>
                <p class="text-white font-[500] text-base -tracking-[0.6px]">Oui, tout jusqu’à la gestion de vos taxes,
                    remises et de vos clients</p>
            </div>
        </div>
    </section>
    <section id="pricing">
        <div class="h-[1024px] bg-slate-900 relative">
            <div class="w-2/3 mx-auto">
                <div class="pt-28 text-center space-y-6">
                    <h1 class="text-5xl text-white font-[700] -tracking-[1.92px]">
                        <span class="relative whitespace-nowrap">
                            <svg aria-hidden="true" viewBox="0 0 281 40" preserveAspectRatio="none"
                                 class="absolute left-0 top-1/2 h-[1em] w-full fill-blue-400">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M240.172 22.994c-8.007 1.246-15.477 2.23-31.26 4.114-18.506 2.21-26.323 2.977-34.487 3.386-2.971.149-3.727.324-6.566 1.523-15.124 6.388-43.775 9.404-69.425 7.31-26.207-2.14-50.986-7.103-78-15.624C10.912 20.7.988 16.143.734 14.657c-.066-.381.043-.344 1.324.456 10.423 6.506 49.649 16.322 77.8 19.468 23.708 2.65 38.249 2.95 55.821 1.156 9.407-.962 24.451-3.773 25.101-4.692.074-.104.053-.155-.058-.135-1.062.195-13.863-.271-18.848-.687-16.681-1.389-28.722-4.345-38.142-9.364-15.294-8.15-7.298-19.232 14.802-20.514 16.095-.934 32.793 1.517 47.423 6.96 13.524 5.033 17.942 12.326 11.463 18.922l-.859.874.697-.006c2.681-.026 15.304-1.302 29.208-2.953 25.845-3.07 35.659-4.519 54.027-7.978 9.863-1.858 11.021-2.048 13.055-2.145a61.901 61.901 0 0 0 4.506-.417c1.891-.259 2.151-.267 1.543-.047-.402.145-2.33.913-4.285 1.707-4.635 1.882-5.202 2.07-8.736 2.903-3.414.805-19.773 3.797-26.404 4.829Zm40.321-9.93c.1-.066.231-.085.29-.041.059.043-.024.096-.183.119-.177.024-.219-.007-.107-.079ZM172.299 26.22c9.364-6.058 5.161-12.039-12.304-17.51-11.656-3.653-23.145-5.47-35.243-5.576-22.552-.198-33.577 7.462-21.321 14.814 12.012 7.205 32.994 10.557 61.531 9.831 4.563-.116 5.372-.288 7.337-1.559Z"></path></svg>
                            <span class="relative">
                                Tarification claire,
                            </span>
                        </span>
                        adaptée à tous
                    </h1>

                    <p class="text-white font-[500] text-base -tracking-[0.6px]">La taille de votre entreprise nous
                        importe peu, le logiciel s’adapte pour vous</p>
                </div>
            </div>
            <div class="flex w-2/3 justify-center mx-auto mt-24">
                {{ component('Home:PricingTile',
                    { price: 'Gratuit', name: 'Starter', description: 'Parfait pour n’importe qui, un auto-entrepreneur qui vient de débuter', isPrincipal: false,
                        features: [
                        '5 clients maximum ',
                        'Factures illimitées',
                        'Devis illimités'
                    ], route: 'app_register_user'})
                }}
                {{ component('Home:PricingTile',
                    { price: '5€', name: 'Petite entreprise', description: 'Parfait pour les petites / moyennes entreprises', isPrincipal: true,
                        features: [
                        '30 clients maximum ',
                        'Factures illimitées',
                        'Devis illimités',
                        'Envoi de factures automatique',
                        'Statistiques et rapports'
                    ], route: 'app_register_user'})
                }}
                {{ component('Home:PricingTile',
                    { price: '15€', name: 'Grandes entreprises', description: 'Parfait pour les grandes entreprises, quelque soit la taille', isPrincipal: false,
                        features: [
                        'Clients illimités',
                        'Factures illimitées',
                        'Devis illimités',
                        'Envoi de factures automatique',
                        'Statistiques et rapports',
                        'Accès à toutes les fonctionnalités exclusives'
                    ], route: 'app_register_user'})
                }}
            </div>
        </div>
    </section>
    <section id="faq" class="h-screen">
        <div class="absolute bg-white w-full h-screen overflow-hidden">
            <div class="relative blur-[192px] h-full w-2/3">
                <svg width="745" height="603" viewBox="0 0 745 603" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="absolute -right-1/3 top-0">
                    <circle cx="305" cy="488" r="115" fill="#2563EB"></circle>
                    <circle cx="436" cy="288" r="150" fill="#C361FF"></circle>
                    <circle cx="100" cy="388" r="100" fill="#EE4591"></circle>
                    <circle cx="607.5" cy="137.5" r="137.5" fill="#B6EDFF"></circle>
                </svg>
            </div>
        </div>
        <div class="relative w-2/3 mx-auto pt-28">
            <div class="space-y-8">
                <h1 class="font-[600] text-5xl -tracking-[1.92px]">Foire aux questions</h1>
                <p class="text-[15px] w-2/4">Vous avez des interrogations ? Nous avons les réponses ! Explorez notre FAQ
                    pour trouver des informations utiles sur l'utilisation de Facturéo. Si vous ne trouvez pas la
                    réponse à votre question, n'hésitez pas à nous contacter directement.</p>
            </div>
            <div class="mt-24 flex space-x-8">
                <div class="w-1/3 space-y-16">
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                </div>
                <div class="w-1/3 space-y-16">
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                </div>
                <div class="w-1/3 space-y-16">
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                    <div class="space-y-6">
                        <p class="font-[600] text-xl">Question blablabla ?</p>
                        <p class="text-[15px] text-slate-900">Réponse à la question blablabla lorem ipsum de la
                            hess.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ component('Home:Footer') }}
{% endblock %}
