{% extends 'base.html.twig' %}

{% block title %}Facturéo - Client{% endblock %}

{% block body %}
<div class="flex" xmlns="http://www.w3.org/1999/html">
         {{ component('User:Sidebar') }}
    <div class="w-3/4 lg:ml-[300px] mx-auto pl-16">
        <div class="flex items-center justify-between mt-6 px-8 py-5 border-b border-gray-100">
            <div class="flex space-x-2 items-center">
                <h1 class="text-3xl font-[600] -tracking-[0.96px]">Clients</h1>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <g clip-path="url(#clip0_622_773)">
                        <path d="M6.05998 6.00004C6.21672 5.55449 6.52608 5.17878 6.93328 4.93946C7.34048 4.70015 7.81924 4.61267 8.28476 4.69252C8.75028 4.77236 9.17252 5.01439 9.4767 5.37573C9.78087 5.73706 9.94735 6.19439 9.94665 6.66671C9.94665 8.00004 7.94665 8.66671 7.94665 8.66671M7.99998 11.3334H8.00665M14.6666 8.00004C14.6666 11.6819 11.6819 14.6667 7.99998 14.6667C4.31808 14.6667 1.33331 11.6819 1.33331 8.00004C1.33331 4.31814 4.31808 1.33337 7.99998 1.33337C11.6819 1.33337 14.6666 4.31814 14.6666 8.00004Z"
                              stroke="#98A2B3" stroke-width="1.33333" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </g>
                    <defs>
                        <clipPath id="clip0_622_773">
                            <rect width="16" height="16" fill="white"></rect>
                        </clipPath>
                    </defs>
                </svg>
                <p class="hidden rounded-full bg-slate-900 text-white p-1 w-6 h-6 justify-center items-center text-[14px]">
                    10
                </p>
            </div>
            <div class="flex space-x-2">
                    <button class=" flex py-2.5 px-4 justify-center items-center rounded-lg border-gray-100 bg-white gap-2 border ">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.08146 10.2908L8.08146 2.26343" stroke="#0E2354" stroke-width="1.2"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.0254 8.33899L8.08139 10.291L6.13739 8.33899" stroke="#0E2354"
                                  stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.5061 5.00024H12.2121C13.7521 5.00024 15 6.21235 15 7.70892L15 11.2989C15 12.7911 13.7551 14.0002 12.2189 14.0002L3.78865 14.0002C2.24865 14.0002 1 12.7874 1 11.2916L1 7.70083C1 6.20941 2.24562 5.00024 3.78108 5.00024H4.49395"
                                  stroke="#0E2354" stroke-width="1.2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        Exporter
                    </button>

                <button onclick="(() => {
                            document.getElementById('new').classList.toggle('hidden');
                            document.body.classList.toggle('overflow-hidden');
                            }) ()" class="flex py-2.5 px-4 justify-center items-center bg-slate-900 text-white rounded-lg gap-2">
                    <div class="rounded-full border border-dashed border-gray-100">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.99992 3.33337V12.6667M3.33325 8.00004H12.6666" stroke="#F5F6F7"
                                  stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    Nouveau client
                </button>
            </div>
        </div>

        <div class="mt-6">
            <div class="relative flex items-start justify-between items-center rounded-2xl border border-gray-200 my-6 h-14">
                <div class="absolute left-6">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5036 12.7377L11.212 10.4973L11.1583 10.4156C11.0584 10.3161 10.9219 10.2601 10.7794 10.2601C10.6368 10.2601 10.5003 10.3161 10.4004 10.4156C8.45291 12.2023 5.45202 12.2994 3.38792 10.6425C1.32383 8.98566 0.837031 6.08895 2.25038 3.87349C3.66372 1.65802 6.53863 0.811272 8.96848 1.8948C11.3983 2.97832 12.6291 5.6559 11.8446 8.15177C11.7881 8.33208 11.8343 8.52816 11.9657 8.66615C12.0972 8.80414 12.294 8.86308 12.4819 8.82077C12.6699 8.77845 12.8205 8.64131 12.877 8.461C13.8148 5.49914 12.3984 2.31174 9.544 0.960746C6.68958 -0.390252 3.25381 0.50059 1.45929 3.05699C-0.335235 5.61338 0.050038 9.06814 2.36587 11.1864C4.68171 13.3046 8.23311 13.4506 10.7227 11.53L12.7517 13.5137C12.9612 13.7177 13.3 13.7177 13.5096 13.5137C13.7189 13.3068 13.7189 12.9738 13.5096 12.7669L13.5036 12.7377Z" fill="#667085"/>
                    </svg>
                </div>
                <input name="recherche" value="{{ id }}" type="text" placeholder="Rechercher un client par nom ou ID"
                       class="relative h-full w-full rounded-2xl pl-12 pr-28 bg-transparent" >
                <div class="absolute right-0">
                    <button onclick="(() => {
                            document.getElementById('filtre').classList.toggle('hidden');
                            document.body.classList.toggle('overflow-hidden');
                            }) ()" class="flex items-center border gap-2 rounded-lg  mr-2 my-3 space-x-2 py-2 px-3 text-slate-900">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 10H15M2.5 5H17.5M7.5 15H12.5" stroke="#344054" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Filtrer
                    </button>
                </div>
            </div>
        </div>

        <div class="border mt-6 h-[650px] rounded-lg overflow-hidden ">
            <div class="h-[90%]">
                <table class="table-auto w-full">
                    <thead class="h-10 border-b bg-gray-100">
                        <tr class="text-sm text-slate-700">
                            <th  class="pl-6">
                                <form>
                                    <input type="checkbox" id="Tout" name="Tout" onclick="selectAll(this)">
                                </form>
                            </th>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Numéro de téléphone</th>
                            <th>Entreprise?</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody class="divide-y">
                    {% for customer in customers %}
                        <tr class="h-20 gap-8 items-center">
                            <td class="pl-6">
                                <form>
                                    <input type="checkbox" name="checkbox" value="{{ customer.id }}" id="checkbox" onchange="toggleButtons(this)">
                                </form>
                            </td>
                            <td>
                                <p class="bg-gray-200 rounded-lg px-2 border w-fit">{{ customer.id }}
                                </p>
                            </td>
                            <td>{{ customer.firstName }}</td>
                            <td>{{ customer.lastName }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.fullAdress }}</td>
                            <td>{{ customer.phoneNumber }}</td>
                            <td>
                                {% if customer.isCompany == 1 %}
                                    <p>Yes</p>
                                {% elseif customer.isCompany != 1 %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td class="px-6 flex justify-end items-center h-20 relative">
                                <button class="py-2 px-3 hover:bg-gray-100 rounded-lg" onclick="(() => {
                                        document.getElementById('dropdown-menu-{{ customer.id }}').classList.toggle('hidden');
                                        }) ()" id="dropdown-btn">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 10.8333C10.4602 10.8333 10.8333 10.4602 10.8333 9.99998C10.8333 9.53974 10.4602 9.16665 10 9.16665C9.53976 9.16665 9.16667 9.53974 9.16667 9.99998C9.16667 10.4602 9.53976 10.8333 10 10.8333Z" stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10 4.99998C10.4602 4.99998 10.8333 4.62688 10.8333 4.16665C10.8333 3.70641 10.4602 3.33331 10 3.33331C9.53976 3.33331 9.16667 3.70641 9.16667 4.16665C9.16667 4.62688 9.53976 4.99998 10 4.99998Z" stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10 16.6666C10.4602 16.6666 10.8333 16.2935 10.8333 15.8333C10.8333 15.3731 10.4602 15 10 15C9.53976 15 9.16667 15.3731 9.16667 15.8333C9.16667 16.2935 9.53976 16.6666 10 16.6666Z" stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                                <div class="absolute hidden bg-white text-sm font-medium rounded-lg drop-shadow-lg text-slate-900 border
                                        dropdown-content right-8 -bottom-20 drop-shadow-md z-20 w-[234px] px-2 py-2" id="dropdown-menu-{{ customer.id }}">
                                    <div>
                                        <button>
                                            <a href="{{ path('app_user_customer_edit', {'id': customer.id}) }}" class="w-full cursor-pointer hover:bg-gray-100 py-2 px-3 rounded-lg text-sm text-start">Modifier</a>
                                        </button>
                                        {#<button id="edit-button" onclick="(() => {
                                                document.getElementById('modif-modal').classList.toggle('hidden');
                                                document.body.classList.toggle('overflow-hidden');
                                                }) ()" class="w-full cursor-pointer hover:bg-gray-100 py-2 px-3 rounded-lg text-sm text-start">Modifier</button>
                                        #}
                                        <button onclick="(() => {
                                                document.getElementById('delete-modal-{{ customer.id }}').classList.toggle('hidden');
                                                document.body.classList.toggle('overflow-hidden');
                                                }) ()"
                                                type="submit" id="delete-btn" class="w-full cursor-pointer hover:bg-gray-100 py-2 px-3 rounded-lg text-sm text-start" data-id="{{ customer.id }}">Supprimer</button>
                                    </div>
                                </div>
                            </td>

                            <div id="delete-modal-{{ customer.id }}"
                                 class="absolute hidden top-0 left-0 h-screen w-full z-30 bg-black bg-opacity-20 flex items-center">
                                <div class="bg-white mx-auto w-fit px-6 py-8 flex flex-col justify-center items-center rounded-lg space-y-6 min-w-[600px]">
                                    <div class="">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                                            <rect x="1" y="1" width="46" height="46" rx="23" stroke="#dc2626" stroke-width="2"></rect>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M33.8994 16.9289C34.6806 16.1478 34.6806 14.8815 33.8994 14.1004C33.1184 13.3194 31.852 13.3194 31.071 14.1004L24 21.1715L16.9289 14.1004C16.1478 13.3194 14.8815 13.3194 14.1004 14.1004C13.3194 14.8815 13.3194 16.1478 14.1004 16.9289L21.1716 23.9999L14.1004 31.0709C13.3194 31.8521 13.3194 33.1183 14.1004 33.8993C14.8815 34.6805 16.1478 34.6805 16.9289 33.8993L24 26.8283L31.071 33.8993C31.852 34.6805 33.1184 34.6805 33.8994 33.8993C34.6806 33.1183 34.6806 31.8521 33.8994 31.0709L26.8284 23.9999L33.8994 16.9289Z"
                                                  fill="#C92323"></path>
                                        </svg>
                                    </div>
                                    <p>Voulez-vous vraiment supprimer le client n°{{ customer.id }}</p>
                                    <div class="flex space-x-2.5 text-sm">
                                        <button class="border border-gray-200 hover:bg-gray-100 text-slate-900 rounded-lg px-4 py-2.5 h-[44px] flex items-center justify-center"
                                                onclick="(() => {
                                                        document.getElementById('delete-modal-{{ customer.id }}').classList.toggle('hidden');
                                                        document.body.classList.toggle('overflow-hidden');
                                                        }) ()"
                                        >
                                            Annuler
                                        </button>
                                        <form method="post" action="{{ path('app_user_customer_delete', {'id': customer.id}) }}">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
                                            <button type="submit"
                                                    class="bg-red-600 rounded-lg text-white px-4 py-2.5 h-[44px] hover:bg-red-700 flex items-center justify-center">
                                                Supprimer
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Pas de clients</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="flex  h-[10%] pt-3 pb-4 px-6 items-center justify-between ">
                <a href="#">
                    <div class="flex items-center justify-center gap-2.5 border rounded-lg py-2 px-6 m-2 text-sm text-slate-900">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.8334 10.0001H4.16675M4.16675 10.0001L10.0001 15.8334M4.16675 10.0001L10.0001 4.16675" stroke="#344054" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <p>Précédent</p>
                    </div>
                </a>
                <div class="gap-2 flex items-center">
                    {% for i in 1..nbPages %}
                        <a class="rounded-lg px-3 py-1.5 text-sm hover:bg-gray-100" href="{{ path('app_user_customer_index') }}?page={{ i }}">
                            {{ i }}
                        </a>
                    {% endfor %}
                </div>
                <a href="#">
                    <div class="flex items-center justify-center  gap-2.5 border rounded-lg py-2 px-6 m-2 text-sm text-slate-900">
                        <p>Suivant</p>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.16675 10.0001H15.8334M15.8334 10.0001L10.0001 4.16675M15.8334 10.0001L10.0001 15.8334" stroke="#344054" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </a>
            </div>
        </div>

        {#
        {% for form in forms %}
        <div id="modif-modal" class="
                            absolute hidden top-0 left-0 h-screen w-full z-30 bg-black bg-opacity-20 flex items-center">
            <div  class="bg-white mx-auto w-fit px-6 py-8 flex flex-col justify-center items-center rounded-lg space-y-6 min-w-[600px]" >
                <div class="flex mb-6 items-start self-stretch justify-between">
                    <h1 class="text-black font-normal text-base font-semibold leading-5 tracking-tighter">Modifier le client n°</h1>
                    <svg onclick="(() => {
                            document.getElementById('modif-modal').classList.toggle('hidden');
                            document.body.classList.toggle('overflow-hidden');
                            }) ()"
                         width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9497 8.46443C17.3403 8.0739 17.3403 7.44074 16.9497 7.05021C16.5592 6.65969 15.926 6.65969 15.5355 7.05021L12 10.5858L8.46443 7.05021C8.0739 6.65969 7.44074 6.65969 7.05021 7.05021C6.65969 7.44074 6.65969 8.0739 7.05021 8.46443L10.5858 12L7.05021 15.5355C6.65969 15.9261 6.65969 16.5592 7.05021 16.9497C7.44074 17.3403 8.0739 17.3403 8.46443 16.9497L12 13.4142L15.5355 16.9497C15.926 17.3403 16.5592 17.3403 16.9497 16.9497C17.3403 16.5592 17.3403 15.9261 16.9497 15.5355L13.4142 12L16.9497 8.46443Z" fill="black"/>
                    </svg>
                </div>
                {% set firstNameWidget = form_widget(form.firstName) %}
                {{ form_start(editForm) }}
                <div class="flex-col items-start gap-6 self-stretch justify-between">
                    <div class="flex items-start gap-2">
                        {{ firstNameWidget }}
                        </div>
                </div>
                <div class="flex-col my-6 items-start gap-2 self-stretch">
                </div>
                <div class="flex my-6 items-start gap-2 self-stretch">
                </div>
                <div class="flex my-6 items-start gap-2 self-stretch">
                </div>
                <div class="flex-col my-6 items-start gap-2 self-stretch">
                </div>
                <button type="submit" value="" class="flex w-1/2 h-11 py-2.5 px-4 justify-center items-center bg-slate-900 text-white rounded-lg gap-2">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.00016 3.33325V12.6666M3.3335 7.99992H12.6668" stroke="#F5F6F7" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Enregistrer
                </button>
                {{ form_end(editForm) }}
            </div>
        </div>
        {% endfor %}
        #}
        <div class="absolute hidden top-0 left-0 bg-black bg-opacity-20 h-screen w-full z-50 overflow-hidden flex items-center" id="new">
            <div class="bg-white p-6 mx-auto rounded-lg space-y-6 w-[700px]">

                    <div class="m-6">
                        <div class="flex mb-6 items-start self-stretch justify-between">
                            <h1 class="text-black font-normal text-base font-semibold leading-5 tracking-tighter">Nouvel utilisateur</h1>
                            <svg class="hover:bg-gray-200 rounded" onclick="(() => {
                                document.getElementById('new').classList.toggle('hidden');
                                document.body.classList.toggle('overflow-hidden');
                                }) ()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9497 8.46443C17.3403 8.0739 17.3403 7.44074 16.9497 7.05021C16.5592 6.65969 15.926 6.65969 15.5355 7.05021L12 10.5858L8.46443 7.05021C8.0739 6.65969 7.44074 6.65969 7.05021 7.05021C6.65969 7.44074 6.65969 8.0739 7.05021 8.46443L10.5858 12L7.05021 15.5355C6.65969 15.9261 6.65969 16.5592 7.05021 16.9497C7.44074 17.3403 8.0739 17.3403 8.46443 16.9497L12 13.4142L15.5355 16.9497C15.926 17.3403 16.5592 17.3403 16.9497 16.9497C17.3403 16.5592 17.3403 15.9261 16.9497 15.5355L13.4142 12L16.9497 8.46443Z" fill="black"/>
                            </svg>
                        </div>
                        {{ form_start(newCustomerForm) }}
                        <div class="flex-col items-start gap-6 self-stretch justify-between">
                            <div class="flex-col my-6 items-start gap-2 self-stretch">

                                {{ form_row(newCustomerForm.isCompany) }}

                                {{ form_row(newCustomerForm.company) }}

                            </div>
                            <div class="flex items-start gap-2">

                                {{ form_row(newCustomerForm.firstName) }}

                                {{ form_row(newCustomerForm.lastName) }}

                            </div>
                        </div>
                        <div class="flex-col my-6 items-start gap-2 self-stretch">

                            {{ form_row(newCustomerForm.fullAdress) }}

                        </div>
                        <div class="flex my-6 items-start gap-2 self-stretch">

                            {{ form_row(newCustomerForm.email) }}

                            {{ form_row(newCustomerForm.phoneNumber) }}

                        </div>
                        <button type="submit" value="" class="flex  w-fit h-11 py-2.5 px-4 justify-center items-center bg-slate-900 text-white rounded-lg gap-2">
                            <svg class="border border-dashed rounded-lg" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.00016 3.33325V12.6666M3.3335 7.99992H12.6668" stroke="#F5F6F7" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Enregistrer
                        </button>
                    </div>
                    {{ form_end(newCustomerForm) }}

            </div>
        </div>

        <form>
            <div class="absolute hidden top-0 left-0 bg-black bg-opacity-20 h-screen w-full z-50 overflow-hidden flex items-center" id="filtre">
                <div class="bg-white p-6 mx-auto rounded-lg space-y-6 w-[400px]">
                    <div class="flex items-center self-stretch justify-between px-2">
                        <h1>Filtrage</h1>
                        <button class="hover:bg-gray-200 rounded">
                            <svg onclick="(() => {
                                document.getElementById('filtre').classList.toggle('hidden');
                                document.body.classList.toggle('overflow-hidden');
                                }) ()" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.9498 8.46443C17.3404 8.0739 17.3404 7.44074 16.9498 7.05021C16.5593 6.65969 15.9261 6.65969 15.5356 7.05021L12.0001 10.5858L8.46456 7.05021C8.07403 6.65969 7.44087 6.65969 7.05034 7.05021C6.65982 7.44074 6.65982 8.0739 7.05034 8.46443L10.5859 12L7.05034 15.5355C6.65982 15.9261 6.65982 16.5592 7.05034 16.9497C7.44087 17.3403 8.07403 17.3403 8.46456 16.9497L12.0001 13.4142L15.5356 16.9497C15.9261 17.3403 16.5593 17.3403 16.9498 16.9497C17.3404 16.5592 17.3404 15.9261 16.9498 15.5355L13.4143 12L16.9498 8.46443Z" fill="black"/>
                            </svg>
                        </button>
                    </div>
                    <div class="flex self-stretch p-2 items-start gap-2.5  rounded-2xl">
                        <div class="flex flex-col p-2 items-start self-stretch gap-2.5 p-2.5">
                            <div>
                                <input type="radio" name="idOrderASC" id="Critère1" value="ASC">
                                <label for="Critère1">Id croissant</label>
                            </div>

                            <div>
                                <input type="radio" name="idOrderDESC" id="Critère2" value="DESC">
                                <label for="Critère2">Id Décroissant</label>
                            </div>

                            <div>
                                <input type="radio" name="critère" id="Critère3" value="1">
                                <label for="Critère3">Pas une entreprise</label>
                            </div>
                        </div>
                    </div>
                    <button class="flex justify-center items-center gap-2 py-2.5 px-4 bg-gray-950 rounded-lg text-white"
                            type="submit">Filtrer
                    </button>
                </div>
            </div>
        </form>

        {% block javascripts %}
            <script>

                var checkbox = document.getElementById('checkbox');
                var deleteButton = document.getElementById('delete-btn');
                var editButton = document.getElementById('edit-button');


                window.onclick = function (event) {
                    if (!event.target.matches('#dropdown-btn')) {
                        let dropdowns = document.getElementsByClassName("dropdown-content");
                        let i;
                        for (i = 0; i < dropdowns.length; i++) {
                            let openDropdown = dropdowns[i];
                            if (!openDropdown.classList.contains('hidden')) {
                                openDropdown.classList.toggle('hidden');
                            }
                        }
                    }
                }


                function selectAll(ch) {
                    var tab = document.getElementsByTagName("input");
                    for (var i = 0; i < tab.length; i++) {
                        if (tab[i].type == "checkbox")
                            tab[i].checked = ch.checked;
                    }
                }

                window.onload = function() {
                    // Désactiver le bouton par défaut
                    deleteButton.disabled = true;
                    editButton.disabled = true;

                    // Activer le bouton lorsque la case à cocher est cochée
                    checkbox.onchange = function() {
                        if (this.checked) {
                            deleteButton.disabled = false;
                            editButton.disabled = false;
                            var id = checkbox.value();
                            deleteButton.href = Routing.generate('app_user_customer_delete', {id: id});
                            editButton.href = Routing.generate('app_user_customer_edit', {id: id});
                        } else {
                            deleteButton.disabled = true;
                            editButton.disabled = true;
                        }
                    };
                };
            </script>
        {% endblock %}

    </div>
</div>
{% endblock %}
