<div class="h-[72px] flex items-center border-b border-gray-200 w-full hover:bg-slate-50 cursor-pointer"
     onclick="(() => {
         window.location.href='{{ path('app_admin_message_show', {id: id}) }}'
     }) ()"
>
    <div class="px-6 min-w-16">
        <input type="checkbox">
    </div>
    <div class="px-6 min-w-[163px]">
        <p class="text-sm px-2 bg-gray-200 w-fit rounded-full text-slate-900">#{{ id }}</p>
    </div>
    <div class="px-6 min-w-[205px]">
        <p class="text-sm px-2">{{ fullName }}</p>
    </div>
    <div class="px-6 min-w-[244px]">
        <p class="text-sm text-slate-700">{{ email }}</p>
    </div>
    <div class="px-6 min-w-[200px]">
        <p class="text-sm text-slate-700">{{ subject }}</p>
    </div>
    <div class="px-6 min-w-[180px]">
        {% if state == 2 %}
            <div class="flex text-green-500 bg-green-50 px-2 rounded-full text-sm items-center space-x-1.5 w-fit">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <circle cx="4" cy="4" r="3" fill="#12B76A"></circle>
                </svg>
                <p>
                    Cloturé
                </p>
            </div>
        {% elseif state == 1 %}
            <div class="flex text-amber-500 bg-amber-50 px-2 rounded-full text-sm items-center space-x-1.5 w-fit">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <circle cx="4.00002" cy="4" r="3" fill="#B76112"></circle>
                </svg>
                <p>
                    En cours
                </p>
            </div>
        {% elseif state == 0 %}
            <div class="flex text-red-500 bg-red-50 px-2 rounded-full text-sm items-center space-x-1.5 w-fit">
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                    <circle cx="4" cy="4" r="3" fill="#B71212"></circle>
                </svg>
                <p>
                    Non répondu
                </p>
            </div>
        {% endif %}
    </div>
    <div class="px-6 min-w-[208px] flex space-x-1.5">
        <div class="flex text-slate-900 bg-slate-200 px-2 rounded-full text-sm items-center space-x-1.5 w-fit">
            <p>
                {{ type }}
            </p>
        </div>
    </div>
    <div class="w-full flex justify-end px-6 relative">
        <button class="py-2 px-3 hover:bg-gray-100 rounded-lg"
                id="dropdown-btn"
                onclick="(() => {
                        document.getElementById('{{ id }}').classList.toggle('hidden');
                        }) ()"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="4" height="16" viewBox="0 0 4 16" fill="none">
                <path d="M2 8.83331C2.46023 8.83331 2.83333 8.46022 2.83333 7.99998C2.83333 7.53974 2.46023 7.16665 2 7.16665C1.53976 7.16665 1.16666 7.53974 1.16666 7.99998C1.16666 8.46022 1.53976 8.83331 2 8.83331Z"
                      stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M2 2.99998C2.46023 2.99998 2.83333 2.62688 2.83333 2.16665C2.83333 1.70641 2.46023 1.33331 2 1.33331C1.53976 1.33331 1.16666 1.70641 1.16666 2.16665C1.16666 2.62688 1.53976 2.99998 2 2.99998Z"
                      stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M2 14.6666C2.46023 14.6666 2.83333 14.2935 2.83333 13.8333C2.83333 13.3731 2.46023 13 2 13C1.53976 13 1.16666 13.3731 1.16666 13.8333C1.16666 14.2935 1.53976 14.6666 2 14.6666Z"
                      stroke="#344054" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
        <div class="absolute right-8 -bottom-24 bg-white border border-gray-200 rounded-lg px-2 py-2 drop-shadow-md hidden z-20 w-[234px] dropdown-content"
             id="{{ id }}">
            <a class="block cursor-pointer hover:bg-gray-100 py-2 px-3 rounded-lg text-sm">Modifier</a>
            <a class="block cursor-pointer hover:bg-gray-100 py-2 px-3 rounded-lg text-sm">Supprimer</a>
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        window.onclick = function (event) {
            if (!event.target.matches('#dropdown-btn')) {
                let dropdowns = document.getElementsByClassName("dropdown-content");
                let i;
                for (i = 0; i < dropdowns.length; i++) {
                    let openDropdown = dropdowns[i];
                    if (!openDropdown.classList.contains('hidden')) {
                        openDropdown.classList.toggle('hidden');
                    }
                }
            }
        }
        // TODO: if a div is already open, when I open another div it will close the other one.
    </script>
{% endblock %}