{% extends 'base.html.twig' %}

{% block title %}Facturéo - Contact{% endblock %}

{% block body %}
    {{ component('Home:Navbar') }}
    <main class="w-3/4 mx-auto mt-14 mb-14">
        <h1 class="text-5xl font-[700] -tracking-[1.92px] text-center">Contactez nous</h1>
        <p class="text-base -tracking-[0.48px] leading-[150%] text-center mt-4">Une question ? Besoin d’aide ?
            Parlons-en !</p>
        <p class="text-center -tracking-[0.48px] leading-[150%] text-base mt-3 max-w-4xl mx-auto">Nous sommes là pour
            répondre à toutes vos questions et vous assister de la
            meilleure façon possible. Remplissez le formulaire ci-dessous, et nous vous contacterons dès que possible.
            N'hésitez pas, nous sommes là pour vous !</p>

        {{ form_start(contactForm) }}
        <div class="w-3/4 mx-auto pt-12 space-y-6 ">
            <div class="">
                <label for="message_fullName">Nom complet</label>
                {{ form_row(contactForm.fullName) }}
            </div>
            <div class="">
                <label for="message_subject">Objet</label>
                {{ form_row(contactForm.subject) }}
            </div>
            <div class="">
                <label for="message_email">Adresse e-mail</label>
                {{ form_row(contactForm.email) }}
            </div>
            <div class="">
                <label for="message_content">Votre message</label>
                {{ form_row(contactForm.content) }}
            </div>
            <button type="submit" class="cursor-pointer bg-blue-600 hover:bg-blue-700 mt-10 w-[405px] px-8 py-2 text-white font-[600] rounded-full block w-fit">Envoyer</button>
        </div>
        {{ form_end(contactForm) }}
    </main>
    {{ component('Home:Footer') }}
{% endblock %}
